<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
    <div class="search">
    	<div class="container">
        	<form method="POST">
            	<input type="text" placeholder="Type.." name="query" class="form-control">
   		 		<button class="buttonsearch" type="submit" value="search" name="submit">Submit</button>
    		</form>
  		</div>
	</div>
    </body>
</html>